
@font-face {
    font-family: 'Dongle';
    src: url('/css/Dongle/Dongle-Regular.ttf') format('truetype'); /* 폰트 파일의 경로를 지정합니다. */
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Dongle';
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F4F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}


header {
    display: none;
}




form {
    margin-top: 8.9vh;
    width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-text {
    font-weight: 700;
    font-size: 52px;
    line-height: 38.19px;
}


#profile-image-text-box {
    width: 320px;
    margin-top: 5.1vh;
}

#profile-image-text {
    font-weight: 700;
    font-size: 25px;
    line-height: 17.9px;
}






#profile-image-box {
    width: 149px;
    height: 149px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
    border-radius: 30%;
    transition: transform 0.3s ease;
}

#profile-image-box:hover {
    transform: scale(1.1);
}

#profile-image {
    width: 149px;
    height: 149px;
    border-radius: 30%;
    filter: opacity(55%);
    cursor: pointer;
    z-index: 1;
    border: none;
    opacity: 0;
}


#image-edit-btn {
    position: absolute;
    width: 52px;
    height: 27px;
    border-radius: 25px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

#preview {
    width: 149px;
    height: 149px;
    border-radius: 30%;
    position: absolute;
}









#email-box {
    margin-top: 3.3vh;
    width: 320px;
}

#email-text {
    font-weight: 700;
    font-size: 25px;
    line-height: 17.9px;
}

#email {
    font-family: initial;
    margin-top: 1.4vh;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
}

#nickname-box {
    margin-top: 1.4vh;
    width: 320px;
}

#nickname-text {
    font-weight: 700;
    font-size: 25px;
    line-height: 17.9px;
}

#nickname-edit {
    width: 280px;
    height: 30px;

    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

    border: 1px solid #000;
    background-color: #F4F5F7;

    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;

    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}

#helper-text {
    font-family: initial;
    color: #FF0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    visibility: hidden;
}



#edit-btn {
    margin-top: 1.1vh;
    width: 320px;
    height: 33px;
    background-color: #8a9f8f;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;

    cursor: pointer;

    transition: all 0.5s;

    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

#delete-btn {
    width: 65px;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
    margin-top: 1.1vh;
    border: none;
    background-color: #F4F5F7;

    cursor: pointer;
}

#edit-complete-btn {
    margin-top: 2.9vh;
    width: 102px;
    height: 46px;
    border-radius: 30px;
    background-color: #748578;
    border: none;
    color: white;
    font-size: 28px;
    font-weight: 400;
    line-height: 21.6px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    transition: all 2s ease-in-out; 
    opacity: 0;
}

#modal {
    position: absolute;
    width: 408px;
    height: 242px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: calc(50vh - 121px);
    visibility: hidden;
    z-index: 1;
}

#modal-text1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 28.64px;
    margin-top: 48px;
}

#modal-text2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 23.87px;
    margin-top: 24px;
}

#modal-btn-box {
    margin-top: 24px; 
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#modal-cancel {
    width: 127px;
    height: 44px;
    background-color: #242424;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.87px;
    border-radius: 12px;
    border: none;

    cursor: pointer;
}

#modal-delete {
    width: 127px;
    height: 44px;
    background-color: #748578;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.87px;
    border-radius: 12px;
    border: none;

    cursor: pointer;
}

#modal-back {
    height: 100%;
    width: 100%;
    visibility: hidden;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

