@font-face {
    font-family: 'Dongle';
    src: url('/css/Dongle/Dongle-Regular.ttf') format('truetype'); /* 폰트 파일의 경로를 지정합니다. */
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Dongle';
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F4F5F7;
}

header {
    width: 100%;
    height: 9.6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #000;
}

#header-box {
    width: 592px;
    height: 9.6vh;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

#title-text {
    font-weight: 400;
    font-size: 52px;
    line-height: 32px;

    position: absolute;
}


#profile-img {
    width: 36px;
    height: 36px;

    border-radius: 50%;

    cursor: pointer;
    transition: transform 0.2s ease;
}

#profile-img:hover {
    transform: scale(1.2); 
}

#drop-down-box {
    width: 115px;
    height: 105px;

    margin-left: 477px;
    margin-top: calc(60px + 9.6vh);

    display: flex;
    flex-direction: column;

    position: absolute;

    border: 1px solid #000;
    visibility: hidden;
}

#user-edit-btn {
    width: 115px;
    height: 35px;

    background-color: #D9D9D9;
    border: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;

    cursor: pointer;
}

#user-edit-btn:hover {
    background-color: #E9E9E9;
}

#password-edit-btn:hover {
    background-color: #E9E9E9;
}

#logout-btn:hover {
    background-color: #E9E9E9;
}

#password-edit-btn {
    width: 115px;
    height: 35px;

    background-color: #D9D9D9;
    border: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;

    cursor: pointer;
}

#logout-btn {
    width: 115px;
    height: 35px;

    background-color: #D9D9D9;
    border: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;

    cursor: pointer;
}






#main {
    width: 592px;

    margin-top: 3.7vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-text {
    text-align: center;

    font-weight: 400;
    font-size: 34px;
    line-height: 31.2px;
}




#add-btn-box {
    width: 592px;

    margin-top: 2.2vh;
    margin-bottom: 0.7vh;

    display: flex;
    flex-direction: row;
    justify-content: right;
}

#add-btn {
    width: 138px;
    height: 39px;

    border-radius: 16px;
    background-color: #8fce92;
    border: none;

    font-size: 16px;
    font-weight: 700;
    line-height: 25.04px;
    color: white;

    cursor: pointer;
    transition: all 0.5s ease;
}

#add-btn:hover {
    background-color: #409344;

    transform: scale(1.05);
}




.post-box {
    width: 592px;
    height: 169px;

    margin-top: 1.4vh;

    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(3px 4px 4px rgba(204, 204, 204, 0.25));

    cursor: pointer;
    transition: transform 0.5s ease;

    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 100%;
        background: #8fce92;
        z-index: -1;
        transition: width 150ms ease-in-out;
        border-radius: 16px;
      }
      
      &:hover {
        color: #fff;
        &:after {
          width: 100%;
        }
      }
}

.post-box:hover {
    transform: scale(1.05); 
}


.up-post {
    width: 592px;
    height: 101px;

    display: flex;
    flex-direction: column;
}

.post-title {
    margin-top: 18px;
    margin-left: 24px;

    font-weight: 700;
    font-size: 34px;
    line-height: 31.2px;
}

.post-log-box {
    margin-top: 10px;
    margin-left: 24px;
    margin-right: 24px;

    display: flex;
    flex-direction: row;
}

.like {
    font-weight: 400;
    font-size: 19px;
}

.comment {
    font-weight: 400;
    font-size: 19px;

    margin-left: 10px;
}

.hits {
    font-weight: 400;
    font-size: 19px;
    margin-left: 10px;
}

.time {
    margin-left: 403px;

    position: absolute;

    font-weight: 400;
    font-size: 19px;
}



.line1 {
    width: 592px;
    height: 0px;

    color: #000;
    opacity: 16%;
}



.down-post {
    width: 592px;
    height: 68px;

    margin-left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image {
    width: 36px;
    height: 36px;

    border-radius: 50%;
    border: none;
}

.writer {
    margin-left: 10px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 19.5px;
}
