@font-face {
    font-family: 'Dongle';
    src: url('/css/Dongle/Dongle-Regular.ttf') format('truetype'); /* 폰트 파일의 경로를 지정합니다. */
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Dongle';
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F4F5F7;
    background-image : url('/images/forest.jpg');
    background-size: cover;    
    overflow: hidden;
}

header {
    width: 100%;
    height: 9.6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #000;

    background-color: #8a9f8f;

    background-color: rgba(0, 0, 0, 0.8);
}

#header-box {
    width: 592px;
    height: 9.6vh;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

#title-text {
    font-weight: 400;
    font-size: 52px;
    line-height: 32px;

    position: absolute;
    color: white;
}


#profile-img {
    width: 36px;
    height: 36px;

    border-radius: 30%;

    cursor: pointer;
    transition: transform 0.2s ease;
}

#profile-img:hover {
    transform: scale(1.2); 
}

#drop-down-box {
    width: 115px;
    height: 105px;

    margin-left: 477px;
    margin-top: calc(60px + 9.6vh);

    display: flex;
    flex-direction: column;

    position: absolute;

    border: 1px solid #000;
    visibility: hidden;
    
    border-radius: 5px;
}

#user-edit-btn {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 115px;
    height: 35px;

    background-color: #D9D9D9;
    border: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;

    cursor: pointer;
}

#user-edit-btn:hover {
    background-color: #E9E9E9;
}

#password-edit-btn:hover {
    background-color: #E9E9E9;
}

#logout-btn:hover {
    background-color: #E9E9E9;
}

#password-edit-btn {
    width: 115px;
    height: 35px;

    background-color: #D9D9D9;
    border: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;

    cursor: pointer;
}

#logout-btn {
    width: 115px;
    height: 35px;

    background-color: #D9D9D9;
    border: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;

    cursor: pointer;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}






#welcome-text-box {
    width: 100%;
    height: 10.4vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    border-bottom: 3px inset #8a9f8f;
    background-color:rgb(242, 239, 234);
    
}

#welcome-text {
    text-align: center;
    width: 20%;

    font-weight: 400;
    font-size: 35px;
    line-height: 31.2px;

    animation: scaleUp 0.5s forwards;
}

@keyframes scaleUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


#noti-box {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
}

#noti-text {
    font-size: 35px;
    font-weight: 700;
    white-space: nowrap; 
    animation: flow 10s linear infinite; 
}

@keyframes flow {
    from {
        transform: translateX(1000%); 
    }
    to {
        transform: translateX(-1000%);
    }
}





#add-btn {
    width: 138px;
    height: 39px;

    border-radius: 16px;
    background-color: #8a9f8f;
    border: none;

    font-size: 16px;
    font-weight: 700;
    line-height: 25.04px;
    color: white;

    cursor: pointer;
    transition: all 0.5s ease;

    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

#add-btn:hover {
    background-color: #748578;

    transform: scale(1.05);
}




#posts-box {
    width: 100%;
    height: 85%;

    display: flex;
    flex-direction: row;
    background-color:rgb(242, 239, 234);
}

#left-post-box {
    width: 65%;
    height: 90%;
    padding: 10px;
    

    display: flex;
    flex-direction: column;
    
    
    column-gap: 20px;

    /* border-right: 1px outset #8a9f8f; */
}

#left-post-box-bar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#left-post-box-content {
    margin-top: 12px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #a6b7ae, inset -5px -5px 12px #fff;
    padding: 10px;
}


#right-post-box {
    width: 35%;
    height: 100%;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    
}


#right-post-box-bar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#right-post-box-bar-title {
    font-size: 30px;
    font-weight: 700;

    animation: rightScaleUp 2s infinite;
}

@keyframes rightScaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

    150% {
        transform: scale(1.1);
    }
}



#right-post-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;

    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #a6b7ae, inset -5px -5px 12px #fff;
}








.post-box {
    width: 452px;
    height: 169px;

    margin-top: 1.4vh;

    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    filter: drop-shadow(3px 4px 4px rgba(204, 204, 204, 0.25));

    cursor: pointer;
    transition: transform 0.5s ease;

    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 100%;
        background: #a1b6a2;
        z-index: -1;
        transition: width 150ms ease-in-out;
        border-radius: 16px;
      }
      
      &:hover {
        color: #fff;
        &:after {
          width: 100%;
        }
      }
}

.post-box:hover {
    transform: scale(1.05); 
}


.up-post {
    width: 452px;
    height: 101px;

    display: flex;
    flex-direction: column;
}

.post-title {
    margin-top: 18px;
    margin-left: 24px;

    font-weight: 700;
    font-size: 34px;
    line-height: 31.2px;
}

.post-log-box {
    margin-top: 10px;
    margin-left: 24px;
    margin-right: 24px;

    display: flex;
    flex-direction: row;
}

.like {
    font-weight: 400;
    font-size: 19px;
}

.comment {
    font-weight: 400;
    font-size: 19px;

    margin-left: 10px;
}

.hits {
    font-weight: 400;
    font-size: 19px;
    margin-left: 10px;
}

.time {
    margin-left: 300px;

    position: absolute;

    font-weight: 400;
    font-size: 19px;
}



.line1 {
    width: 452px;
    height: 0px;

    color: #000;
    opacity: 16%;
}



.down-post {
    width: 452px;
    height: 68px;

    margin-left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image {
    width: 36px;
    height: 36px;

    border-radius: 50%;
    border: none;
}

.writer {
    margin-left: 10px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 19.5px;
}
