@font-face {
    font-family: 'Dongle';
    src: url('/css/Dongle/Dongle-Regular.ttf') format('truetype'); /* 폰트 파일의 경로를 지정합니다. */
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Dongle';
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image : url('/images/forest.jpg');
    background-size: cover; 
}


#sign-in-box {
    margin-top: calc(50vh - 240px);
    border: 1px solid #000000;
    width: 760px;
    height: 480px;
    display: flex;
    flex-direction: row;
    align-items: center;

    background: rgba(255, 255, 255, 0.2); /* 반투명 흰색 배경 */
    backdrop-filter: blur(2px); /* 블러 효과 적용 */
    border-radius: 15px; /* 모서리를 둥글게 */

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 1);
}



#sign-in-form {
    width: 50%;
    height: 100%;
    
    box-sizing: border-box;
    background-color: #8a9f8f;
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#form-title {
    font-weight: 700;
    font-size: 52px;
    line-height: 38.19px;
    color: white;


    display: flex;
    flex-direction: column;
    align-items: center;
}


#input-box {
    margin-top: 6.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email-input {
    width: 280px;
    height: 30px;

    margin-top: 0.7vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 4px;
    border: 1px solid #000;
    background-color: #F4F5F7;

    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;

    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}


#password-input {
    width: 280px;
    height: 30px;

    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 4px;
    border: 1px solid #000;
    background-color: #F4F5F7;

    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;

    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}

#helper-text {
    font-family:initial;
    width: 355px;
    margin-top: 10px;

    color: #FF0000;
    
    font-weight: 700;
    font-size: 12px;

    visibility: hidden;
}




#sign-in-btn {
    margin-top: 20px;
    width: 153px;
    height: 43px;
    
    background-color: #8a9f8f;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-radius: 20px;
    line-height: 16.71px;
    cursor: pointer;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;

    transition-property: background-color;
    transition-duration: 1s;    

    transition: transform 80ms ease-in;
}

#sign-in-btn:hover {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}





#sign-in-box-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-in-title {
    font-weight: 700;
    font-size: 50px;
}

#sign-in-text {
    font-size: 20px;
}



#sign-up-btn {
    margin-top: 20px;
    width: 153px;
    height: 43px;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    border-radius: 20px;
    line-height: 16.71px;
    cursor: pointer;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;

    transition-property: background-color;
    transition-duration: 1s;    

    transition: transform 80ms ease-in;

    background: rgba(255, 255, 255, 0.4); /* 반투명 흰색 배경 */
    backdrop-filter: blur(2px); /* 블러 효과 적용 */
}

#sign-up-btn:hover {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}



#loading {
    position: absolute;
    margin-top: calc(50vh - 50px);
    width: 100px;
    height: 100px;

    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    position: absolute;
    display: none;
}