@font-face {
    font-family: 'Dongle';
    src: url('/css/Dongle/Dongle-Regular.ttf') format('truetype'); /* 폰트 파일의 경로를 지정합니다. */
    font-style: normal;
}


html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Dongle';
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F4F5F7;
}


#header-box {
    width: 592px;
    height: 9.6vh;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}


#back-btn {
    width: 16px;
    height: 19px;

    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#back-btn:hover {
    transform: scale(1.2); 
}


#title-text {
    font-weight: 400;
    font-size: 52px;
    line-height: 32px;
    position: absolute;
}


#sign-up-form {
    margin-top: 10.9vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-title {
    font-weight: 700;
    font-size: 52px;
    line-height: 38.19px;
}



#profile-title-box {
    width: 355px;
}

#profile-title {
    margin-top: 1.1vh;

    font-weight: 700;
    font-size: 25px;
    line-height: 17.9px;
}

#profile-helper-text {
    font-family:initial;
    margin-top: 4px;

    font-size: 12px;
    font-weight: 700;

    color: #FF0000;

    visibility: visible;
}



#profile-input-box {
    width: 149px;
    height: 149px;

    margin-top: 0.7vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 30%;
    background-color: #C4C4C4;

    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}

#profile-circle {
    width: 149px;
    height: 149px;

    border-radius: 30%;
    border: none;

    opacity: 0;
    z-index: 1;
    cursor: pointer;

}


#cross-col {
    width: 1px;
    height: 24px;

    position: absolute;
    background-color: #000;
}

#cross-row {
    width: 24px;
    height: 1px;

    position: absolute;
    background-color: #000;
}

#preview {
    width: 149px;
    height: 149px;

    border-radius: 30%;
    position: absolute;
}
















.helper-text {
    font-family:initial;
    width: 500px;

    margin-top: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;

    color: #FF0000;
    visibility: hidden;
}



#input-box {
    width: 320px;

    margin-top: 2.8vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

#email-text {
    font-weight: 700;
    font-size: 25px;
    line-height: 17.9px;
}

#email-input {
    width: 280px;
    height: 30px;

    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

    border: 1px solid #000;
    background-color: #F4F5F7;

    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;

    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}







#password-text {
    margin-top: 0.3vh;

    font-weight: 700;
    font-size: 25px;
    line-height: 17.9px;
}


#password-input {
    width: 280px;
    height: 30px;

    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

    border: 1px solid #000;
    background-color: #F4F5F7;

    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;

    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}


#re-password-text {
    margin-top: 0.3vh;

    font-weight: 700;
    font-size: 25px;
    line-height: 17.9px;
}

#re-password-input {
    width: 280px;
    height: 30px;

    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

    border: 1px solid #000;
    background-color: #F4F5F7;

    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;

    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}

#nickname-text {
    margin-top: 0.3vh;

    font-weight: 700;
    font-size: 25px;
    line-height: 17.9px;
}

#nickname-input {
    width: 280px;
    height: 30px;

    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

    border: 1px solid #000;
    background-color: #F4F5F7;

    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;

    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}

#sign-up-btn {
    margin-top: 20px;
    width: 153px;
    height: 43px;
    
    background-color: #8a9f8f;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    border-radius: 20px;
    line-height: 16.71px;
    cursor: pointer;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;

    transition: all 1s;
}

#move-sign-in-btn {
    margin-top: 1.1vh;

    border: none;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
    
    background-color: #F4F5F7;
    cursor: pointer;
}


