<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/edit-password.css">
    <title>community</title>
</head>
<body>
    <header>
        <div id="title-text">One Day One Post</div>
        <div id="header-box">
            <img id="back-btn" src="/images/navi.png" alt="back" onClick="location.href='/posts'">
            <img id="profile-img" src="" alt="profile-image">

            <div id="drop-down-box">

                <button id="user-edit-btn" class="drop-down">회원정보 수정</button>
                <button id="password-edit-btn" class="drop-down">비밀번호 수정</button>
                <button id="logout-btn" class="drop-down" onClick="location.href='/users/sign-in'">로그아웃</button>

            </div>
        </div>
    </header>




    <form action="" method="POST" id="main">
        <div id="password-edit-text">비밀번호 수정</div>
        
        <div id="password-input-box">

            <div id="password-text">비밀번호</div>
            <input type="password" id="input-password" name="password" placeholder="비밀번호를 입력하세요">
            <div id="password-helper-text">*helper text</div>

            <div id="password-double-text">비밀번호 확인</div>
            <input type="password" id="input-password-double" placeholder="비밀번호를 한번 더 입력하세요">
            <div id="re-password-helper-text">*helper text</div>
            
        </div>

        <button id="edit-btn" type="submit" disabled="true">수정하기</button>

        <button id="edit-complete-btn" disabled="true">수정완료</button>
    </form>

    
    <script type="text/javascript" src="/javascript/edit-password.js"></script>
    <script type="text/javascript" src="/javascript/fireworks.js"></script>
</body>
</html>
