<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/edit-user.css">
    <title>회원 정보 수정</title>
</head>
<body>
    <header>
        <div id="title-text">One Day One Post</div>
        <div id="header-box">
            <img id="back-btn" src="/images/navi.png" alt="back" onClick="location.href='/posts'">
            <img id="profile-img" src="" alt="profile-image">

            <div id="drop-down-box">

                <button id="user-edit-btn" class="drop-down">회원정보 수정</button>
                <button id="password-edit-btn" class="drop-down">비밀번호 수정</button>
                <button id="logout-btn" class="drop-down" onClick="location.href='/users/sign-in'">로그아웃</button>

            </div>
        </div>
    </header>
    


    <form action="" method="POST" id="main">
        <div id="edit-text">
            회원정보 수정
        </div>

        <div id="profile-image-text-box">
            <div id="profile-image-text">프로필 사진*</div>
        </div>





        <div id="profile-image-box">
            <input type="file" id="profile-image" accept="image/*" onchange="addImage(event)" name="profileImage">
            <button id="image-edit-btn">변경</button>
            <img id="preview" src="">
        </div>


        
        <div id="email-box">
            <div id="email-text">이메일</div>
            <div id="email"></div>
        </div>

        <div id="nickname-box">
            <div id="nickname-text">닉네임</div>
            <input type=text id="nickname-edit" value="" name="nickname">
            <div id="helper-text">*helper text</div>
        </div>

        <button id="edit-btn" type="submit">수정하기</button>

        <button id="delete-btn">회원 탈퇴</button>

        <div id="edit-complete-btn" disabled="true">수정완료</div>

    </form>

    <div id="modal">
        <div id="modal-text1">회원탈퇴 하시겠습니까?</div>
        <div id="modal-text2">작성된 게시글과 댓글은 삭제됩니다.</div>
        <div id="modal-btn-box">
            <button id="modal-cancel">취소</button>
            <button id="modal-delete">확인</button>
        </div>
    </div>

    <div id="modal-back"></div>

    
    <script type="text/javascript" src="/javascript/edit-user.js"></script>
    <script type="text/javascript" src="/javascript/fireworks.js"></script>
</body>
</html>
