<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/post-detail.css">
    <title>게시글 상세조회</title>
</head>
<body>

    <header>
        <div id="title-text">One Day One Post</div>
        <div id="header-box">

            <img id="back-btn" src="/images/navi.png" alt="back" onClick="location.href='/posts'">
            <img id="profile-img" src="" alt="profile-image">

            <div id="drop-down-box">

                <button id="user-edit-btn" class="drop-down">회원정보 수정</button>
                <button id="password-edit-btn" class="drop-down">비밀번호 수정</button>
                <button id="logout-btn" class="drop-down" onClick="location.href='/users/sign-in'">로그아웃</button>

            </div>
        </div>
    </header>



    <section id="post-title-section">
        <div id="post-title">제목 1</div>

        
        <div id="down">
            <img id="post-profile-img" src="">
            <div id="writer"></div>
            <div id="time"></div>
            <button id="edit-btn">수정</button>
            <button id="delete-btn">삭제</button>
        </div>
    </section>
    
    <img id="post-img" src="">

    <section id="post-text"></section>

    <section id="count-box">
        <div id="hits">
            <div class="num" id="hits-num"></div>
            <div class="text1">
                조회수
            </div>
        </div>

        <div id="coments">
            <div class="num" id="comments-num"></div>
            <div class="text2">
                댓글
            </div>
        </div>
    </section>


    <hr id="line1"/>



    <textarea id="comment-input" placeholder="댓글을 남겨주세요!"></textarea>

    <div id="add-comment-box">
        <button id="add-comment-btn" disabled="false">댓글 등록</button>
    </div>



    



    



    

    

   
<!-- 
    <div class="comment">
        <div class="writer-info-box">
            <div class="writer-info">
                <img class="writer-info-img" src="">
                <div class="writer-info-id">더미 작성자 1</div>
                <div class="writer-info-time">2021:01:01 00:00:00</div>
            </div>
            <input type="text" class="content-info" value="댓글 내용" readonly="true">
        </div>

        <div class="btn-info">
            <button class="writer-edit-btn">수정</button>
            <button class="writer-delete-btn">삭제</button>
        </div>
    </div> -->
    

    




    <div id="modal">
        <div id="modal-text1">게시글을 삭제하시겠습니까?</div>
        <div id="modal-text2">삭제한 내용은 복구할 수 없습니다.</div>
        <div id="modal-btn-box">
            <button id="modal-cancel">취소</button>
            <button id="modal-delete">확인</button>
        </div>
    </div>

    <div id="modal-back"></div>

    <div id="comment-modal">
        <div id="comment-modal-text1">댓글을 삭제하시겠습니까?</div>
        <div id="comment-modal-text2">삭제한 내용은 복구할 수 없습니다.</div>
        <div id="comment-modal-btn-box">
            <button id="comment-modal-cancel">취소</button>
            <button id="comment-modal-delete">확인</button>
        </div>
    </div>


    <script type="text/javascript" src="/javascript/post-detail.js"></script>
    <script type="text/javascript" src="/javascript/fireworks.js"></script>
</body>
</html>
