<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/posts.css">
    <title>게시글 목록조회</title>
</head>
<body>
    <header>
        <div id="title-text">아무 말 대잔치</div>
        <div id="header-box">
            <div id="padding"></div>
            <img id="profile-img" src="" alt="profile-image">

            <div id="drop-down-box">

                <button id="user-edit-btn" class="drop-down">회원정보 수정</button>
                <button id="password-edit-btn" class="drop-down">비밀번호 수정</button>
                <button id="logout-btn" class="drop-down" onClick="location.href='/users/sign-in'">로그아웃</button>

            </div>
        </div>
    </header>

    
    
    <section id="main">
        <div id="welcome-text">안녕하세요,<br>
            아무말 대잔치 <strong>게시판</strong> 입니다.
        </div>
    </section>

    
    

    <div id="add-btn-box">
        <button id="add-btn" onClick="location.href='/posts/new'">게시글 작성</button>
    </div>
    
    
    
    

    
    <script type="text/javascript" src="/javascript/posts.js"></script>
</body>
</html>