<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/sign-in.css">
    <title>로그인</title>
</head>
<body>

    <!-- <header>
        <div id="page-title">One Day One Post</div>
    </header> -->


    <div id="sign-in-box">

        <form id="sign-in-form" action="/posts" method="get">
            <div id="form-title">Welcome !</div>
        
            <div id="input-box">
    
                <input type="text" id="email-input" name="email" placeholder="이메일을 입력하세요">

                <input type="password" id="password-input" name="password" placeholder="비밀번호를 입력하세요">
            
                <div id="helper-text">*helper-text</div>
    
            </div>
    
            <button id="sign-in-btn" type="submit">로그인</button>
        </form>




        <div id="sign-in-box-right">
            <div id="sign-in-title">One Day One Post</div>
            <div id="sign-in-text">꾸준한 포스팅으로 본인의 생각을 정리하고 펼쳐주세요 !</div>
            <button id="sign-up-btn" onclick="location.href='/users/sign-up'">회원가입</button>
        </div>
        
    </div>

<!-- 배경색 다시 생각 헬퍼텍스트 조정 텍스트 컬러 선택 오른쪽 박스 완성 리액트 적용 노션 반영 ㄱㄱ -->





















    <script type="module">
        import {BACKEND_IP_PORT} from '/javascript/global.js';

        localStorage.setItem('backend-ip-port', BACKEND_IP_PORT);        
    </script>
    <script type="text/javascript" src="/javascript/sign-in.js"></script>
    <script type="text/javascript" src="/javascript/fireworks.js"></script>
</body>
</html>
